body {
    background-color: #F9F7C9;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: white;
    border-width: 5px;
    width: 20%;

  }

  h1{
    color: #76453B;
    font-size: 50px;
  }
  h3{
    color: #76453B;
  }
  img:hover{
    background-color: goldenrod;
  }

  .tihan{
    background-color: #e3d5d3;
  }
  /*.circular{
    border-radius: 150%;
  }
  */
  #heading{
    color:#76453B;
  }